{% extends 'base.html.twig' %}

{% block title %}Détail du wish{% endblock %}

{% block body %}
    <h2>Détail du wish</h2>

    <table>
        <tr>
            <th>Titre</th>
            <td>{{ wish.title }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ wish.description }}</td>
        </tr>
        <tr>
            <th>Auteur</th>
            <td>{{ wish.author }}</td>
        </tr>
        <tr>
            <th>Catégorie</th>
            <td>{{ wish.category.name }}</td>
        </tr>


        <tr>
            <th>Publié</th>
            <td>{{ wish.isPublished ? 'Oui' : 'Non' }}</td>
        </tr>
        <tr>
            <th>Date de création</th>
            <td>{{ wish.dateCreated|date('d-m-Y') }}</td>
        </tr>
        <tr>
            <th>Dernière mise à jour</th>
            <td>{{ wish.dateUpdated ? wish.dateUpdated|date('d-m-Y') : '—' }}</td>
        </tr>
    </table>
    <div class="card-body">
        <div class="text-center">
            <a href="{{ path('wish_delete', {'id': wish.id, 'token':
                csrf_token('delete'~wish.id)}) }}"
               class="btn btn-danger mt-2"
               title="Delete the wish">
                Delete
            </a>
            <a href="{{ path('wish_update', {'id': wish.id}) }}"
               class="btn btn-secondary mt-2"
               title="Modify the wish">
                Modify
            </a>
        </div>
    </div>




    <p><a href="{{ path('wish_list') }}">⬅ Retour à la liste</a></p>
{% endblock %}
