{% extends 'base.html.twig' %}

{% block title %}Bucket-List - All Wishes{% endblock %}

{% block body %}
    <h2>List</h2>

    <table>
        <tr>
            <th>title</th>
            <th>description</th>
            <th>author</th>
            <th>isPublished</th>
            <th>dateCreated</th>
            <th>dateUpdated</th>

        </tr>
        {% for wish in wishes %}
            <tr>
                <td>{{ wish.title }}</td>
                <td>{{ wish.description }}</td>
                <td>{{ wish.author }}</td>
                <td>{{ wish.isPublished }}</td>
                <td>{{ wish.dateCreated|date('d-m-Y') }}</td>
                <td>{{ wish.dateUpdated ? serie.lastAirDate|date('d-m-Y') : '' }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

